@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: rgba(0, 0, 0, 0.1);
  --pattern-fg: rgba(0, 0, 0, 0.05);
}

.dark {
  --background: #0b0b10;
  --foreground: #ededed;
  --border: rgba(255, 255, 255, 0.1);
  --pattern-fg: rgba(255, 255, 255, 0.1);
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-instrument-serif), serif;
  font-weight: 400;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: radial-gradient(var(--pattern-fg) 1px,
      transparent 1px);
  background-size: 24px 24px;
  font-family: var(--font-open-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem;
  /* 14px */
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
  /* 28px */
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem;
  /* 24px */
  margin: 0.875rem 0;
}

h3 {
  font-size: 1.25rem;
  /* 20px */
  margin: 0.75rem 0;
}

p {
  margin: 0.5rem 0;
}

img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}