@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --pattern-fg: rgba(255, 255, 255, 0.1);
  --border-color: rgba(255, 255, 255, 0.15);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-instrument-serif), serif;
  font-weight: 400;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 0.875rem; /* 14px */
  line-height: 1.6;
}

h1 {
  font-size: 3rem; /* 28px */
  margin: 1rem 0;
}

h2 {
  font-size: 1.5rem; /* 24px */
  margin: 0.875rem 0;
}

h3 {
  font-size: 1.25rem; /* 20px */
  margin: 0.75rem 0;
}

p {
  margin: 0.5rem 0;
}

img {
  max-width: 90%;
  max-height: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
